{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_related_objects %}
    {% if executions %}
        <fieldset class="module aligned {{ fieldset.classes }}">
            <h2>Job executions</h2>
            <div class="results">
                <table id="result_list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>STATUS</th>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Worker name</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exec in executions %}
                        <tr>
                            <td>
                                <a href="{% url 'job_details' exec.id %}">{{ exec.id }}</a>
                            </td>
                            <td>
                                {{ exec.status }}
                            </td>
                            <td>
                                {{ exec.started_at|default:"-" }}
                            </td>
                            <td>
                                {{ exec.ended_at|default:"-" }}
                            </td>
                            <td>
                                {{ exec.worker_name|default:"-" }}
                            </td>
                            <td>
                                {{ exec.latest_result|default:"-" }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="paginator">
                {% if pagination_required %}
                    {% for i in page_range %}
                        {% if i == executions.paginator.ELLIPSIS %}
                            {{ executions.paginator.ELLIPSIS }}
                        {% elif i == executions.number %}
                            <span class="this-page">{{ i }}</span>
                        {% else %}
                            <a href="?{{ page_var }}={{ i }}" {% if i == executions.paginator.num_pages %}
                               class="end" {% endif %}>{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {{ executions.paginator.count }} {% blocktranslate count counter=executions.paginator.count %}entry
                {% plural %}entries{% endblocktranslate %}

            </p>
        </fieldset>
    {% endif %}
{% endblock %}