{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if executions %}
        <fieldset class="module aligned {{ fieldset.classes }}">
            <h2>Job executions</h2>
            <div class="results">
                <table id="result_list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>STATUS</th>
                        <th>Started at</th>
                        <th>Ended at</th>
                        <th>Worker name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exec in executions %}
                        <tr>
                            <td>
                                <a href="{% url 'job_details' exec.id %}">{{ exec.id }}</a>
                            </td>
                            <td>
                                {{ exec.status }}
                            </td>
                            <td>
                                {{ exec.started_at|default:"-" }}
                            </td>
                            <td>
                                {{ exec.ended_at|default:"-" }}
                            </td>
                            <td>
                                {{ exec.worker_name|default:"-" }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}